header {
  background-color: gray;
}

.info {
  margin: 0 auto;
  width: 500px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* flex-flow: column wrap;
  is the same as code above,
  just in one line of code. */
  align-items: center;
}



.name-container {
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  flex: 0 1 100px;
}

.comment-container {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  flex: 0 1 100px;
}
