header {
  background-color: gray;
}

.info {
  display: flex;
  min-height: 100vh;
  background-image: url('KiaSedona.jpg');
  background-size: cover;
  position: relative;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;

  border: 2px solid black;
}

.info:hover {
  opacity: 0.75;
}

h2 {
  font-size: 40px;
  background-color: gray;
  color: white;
}

h3 {
  font-size: 35px;
  color: white;
  background-color: gray;
}
